.first-article{
    height: 500px;
    width: 400px;
    border: 5px solid hotpink;
    overflow-y: scroll;
    padding: 15px;
    margin-right: 20px;
}
.second-article{
    height: 500px;
    width: 400px;
    border: 5px solid hotpink;
    overflow: scroll;
    overflow-x: hidden;
    padding: 15px;

}
.flex{
    display: flex;
}